ZALOPAY_APP_ID=your_zalopay_sandbox_app_id
ZALOPAY_KEY1=your_zalopay_sandbox_key1
ZALOPAY_KEY2=your_zalopay_sandbox_key2
ZALOPAY_CREATE_ORDER_ENDPOINT=https://sb-openapi.zalopay.vn/v2/create
ZALOPAY_QUERY_ORDER_ENDPOINT=https://sb-openapi.zalopay.vn/v2/query
ZALOPAY_CALLBACK_URL=https://quickshow-qy3z.onrender.com/api/zalopay/callback
ZALOPAY_REDIRECT_URL=https://quickshow-eight-rust.vercel.app/loading/my-bookings
ZALOPAY_PREFERRED_METHOD=zalopay_wallet
ZALOPAY_BANK_CODE=zalopayapp
ZALOPAY_EXPIRE_DURATION_SECONDS=600

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=2525
SMTP_USER=your_brevo_smtp_username
SMTP_PASS=your_brevo_smtp_key
SENDER_EMAIL=your_verified_sender@example.com
